.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  text-align: center;
}

.welcome {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.welcome img {
  height: 70px;
}

@media (max-width: 767px) {
  .welcome {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    margin-bottom: 5px;
  }
}

.logo {
  height: 300px;
  width: 300px;
  padding: 10px;
}

.logoTextContainer {
  position: relative;
  text-align: center;
}

.customClass {
  color: var(--color);
  position: absolute;
  transform: translate(-50%, -50%);
}

.CTA {
  font-weight: bold;
}

.CTA:hover {
  color: lightseagreen;
}
