.topButton {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.formInput {
  align-items: left;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.inputModal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputPassword {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.input {
  border: 1px solid black
}

.error {
  color: red;
  font-size: 15px;
}
.errorInput {
  border: 1px solid red;
}
