:root {
  --background-color: #fff;
  --color: #000;
}

.dark-theme {
  --background-color: #000;
  --color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--color);
}

*{
  transition: 0.3s;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
} 

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* navbar */

.bg-body-tertiary {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

/* countries page */


.top-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  margin-bottom: 10px;
}

.mycard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 270px;
  width: 300px;
  outline: solid 1px grey;
  text-decoration: none;
}

.mycard:hover {
  transform: scale(1.05);
}

.cards-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.card-image {
  outline: 1px solid grey;
}

.card-title {
  margin: auto;
  height: 10%;
  
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}


.back-button {
  padding: 10px;
}


.logo {
  height: 300px;
  width: 300px;
  animation: roll 15s linear 0.5s infinite;
}



/* @keyframes roll{
  from{
    transform: rotate(0deg)
  }
  to{
    transform: rotate(360deg)
  }
} */

/* .logo:hover {
  transform: rotate(180deg); transition: 4s
} */

