/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

/* .nav-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
} */

.top-container {
  display: flex;
  flex-direction: column;

  text-align: center;
  padding: 15px;
  margin-bottom: 10px;
}



.mycard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 270px;
  width: 300px;
  outline: solid 1px grey;
}

.mycard:hover {
  transform: scale(1.05);
}

.cards-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.card-container {
  text-decoration: none !important;
}

.card-image {
  outline: 1px solid grey;
}

.card-title {
  margin: auto;
  height: 10%;
}

.navbar-titles {
  display: flex;
  display: row;
  gap: 20px;
  
}

.detail-container {
  display: flex;
  flex-direction: row-reverse;
}

